.App {
  text-align: center;
  overflow: auto;
  height: 100%;
}

.app-container {
}

.body-container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

/* .body-container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
} */
