.product-view-container {
  padding: 3em;
}

.content-container {
  display: flex;
  margin: 0 auto;
  background-color: #4682b4;
  max-width: 660px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

.product-image--container {
  margin: 0 2em;
}

.triangle-topleft {
  position: relative;
  width: 0;
  height: 0;
  border-top: 100px solid #ffc500;
  border-right: 100px solid transparent;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.triangle-topleft:hover {
  border-top: 100px solid #ffd54d;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.back-arrow {
  cursor: pointer;
  position: absolute;
  top: -90px;
  left: 15px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519627-127_ArrowLeft-128.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.product-image--featured {
  max-width: 228px;
  width: 100%;
  max-height: 200px;
  height: 100%;
}

.product-image--list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-image--list li {
  margin: 0 5px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.product-image--list li.item-selected {
  box-shadow: 1px 1px 1px #888888;
  border: 2px solid #ffc500;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.product-image--item {
  max-width: 40px;
  max-height: 40px;
}

.right-container {
  margin: 1em;
}

.title {
  margin: 0.5em 0 0 0;
  color: black;
}

.subtitle {
  font-size: 1.25em;
  color: white;
}

.subtitle-container {
  margin: 0.5em 0 0.5em 0;
  opacity: 0.6;
  color: white;
  font-weight: bold;
}

.description {
  margin: 1em 0 1em 0;
  font-weight: bold;
  color: white;
}

// RATING STARS FROM https://www.everythingfrontend.com/posts/star-rating-input-pure-css.html
.rating {
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  position: relative;
}
.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url("http://kubyshkin.ru/samples/star-rating/star.png") 0 -16px;
}

.reviews {
  text-decoration: none;
  font-weight: bold;
}

a:hover.reviews {
  color: white;
  text-decoration: underline;
}

.emphasize {
  color: white;
  font-size: 1.5em;
  letter-spacing: -2px;
}

.select-dropdown {
  max-width: 50px;
  width: 100%;
}

.my-btn {
  background-color: #ffc500;
  border-radius: 5px;
  max-width: 275px;
  width: 100%;
  height: 50px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  margin-top: 30px;
}

.my-btn:hover {
  box-shadow: 1px 1px 1px #888888;
  background-color: #ffd54d;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.flex-btn {
  display: flex;
  align-items: center;
}

.cart-icon {
  margin: 2px;
  width: 30px;
  height: 30px;
}

.btn-text {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 auto;
}
